<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.api.radotrip.mapper.region.FestivalMapper">
    <insert id="addFestivalInfo" parameterType="com.api.radotrip.dto.region.FestivalDto">
        /* addFestivalInfo */
        INSERT INTO FESTIVAL_INFO (
            REGN_ID
            , CONTENT_ID
            , FEST_NM
            , EVENT_START_DATE
            , EVENT_END_DATE
            , ADDR1
            , ADDR2
            , MAPX
            , MAPY
            , TEL
            , THUMBNAIL
            , HOMEPAGE_URL
            , API_TYPE
        )
        VALUES (
            #{regnId}
            , #{contentId}
            , #{festNm}
            , #{eventStartDate}
            , #{eventEndDate}
            , #{addr1}
            , #{addr2}
            , #{mapx}
            , #{mapy}
            , #{tel}
            , #{thumbnail}
            , #{homepageUrl}
            , #{apiType}
        )
    </insert>

</mapper>
