<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.api.radotrip.mapper.region.InfoMapper">
    <insert id="addRegionInfo" parameterType="com.api.radotrip.dto.region.InfoDto">
        /* addRegionInfo */
        INSERT INTO REGION_INFO (
            REGN_CD
            , REGN_NM
            , SIGNGU_CD
            , SIGNGU_NM
        ) 
        VALUES (
            #{regnCd}
            , #{regnNm}
            , #{signguCd}
            , #{signguNm}
        )
    </insert>

    <insert id="addClassificationInfo" parameterType="com.api.radotrip.dto.region.ClassificationDto">
        /* addClassificationInfo */
        INSERT INTO CLASSIFICATION_CODE (
            lclsSystm1Cd
            , lclsSystm1Nm
            , lclsSystm2Cd
            , lclsSystm2Nm
            , lclsSystm3Cd
            , lclsSystm3Nm
        )
        VALUES (
            #{lclsSystm1Cd}
            , #{lclsSystm1Nm}
            , #{lclsSystm2Cd}
            , #{lclsSystm2Nm}
            , #{lclsSystm3Cd}
            , #{lclsSystm3Nm}
        )
        ON DUPLICATE KEY UPDATE
            lclsSystm1Nm = #{lclsSystm1Nm}
            , lclsSystm2Nm = #{lclsSystm2Nm}
            , lclsSystm3Nm = #{lclsSystm3Nm}
            , updated_at = CURRENT_TIMESTAMP
    </insert>

    <select id="loadRegionId" parameterType="hashmap" resultType="Long">
        /* loadRegionId */
        SELECT RI.REGN_ID
        FROM REGION_INFO RI
        <where>
            <if test="region != null and region != ''">
                <if test="type == 'festival'">
                    <choose>
                        <when test="apiType == 'JIFF'">
                            AND RI.REGN_NM = #{region}
                        </when>
                        <otherwise>
                            AND RI.REGN_CD = #{region}
                        </otherwise>
                    </choose>
                </if>
                <if test="type != 'festival'">
                    AND RI.REGN_CD = #{region}
                </if>
            </if>
            <if test="sigungu != null and sigungu != ''">
                <if test="type == 'festival'">
                    <choose>
                        <when test="apiType == 'JIFF'">
                            AND RI.SIGNGU_NM = #{sigungu}
                        </when>
                        <otherwise>
                            AND RI.SIGNGU_CD = #{sigungu}
                        </otherwise>
                    </choose>
                </if>
                <if test="type != 'festival'">
                    AND RI.SIGNGU_CD = #{sigungu}
                </if>
            </if>
        </where>
    </select>

</mapper>
