<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.api.radotrip.mapper.PlaceMapper">

    <!-- 장소 전체 조회 -->
    <select id="selectAllPlaces" resultType="com.api.radotrip.dto.PlaceDto">
        SELECT 
            place_id, 
            title, 
            address, 
            content_type_id, 
            map_x, 
            map_y
        FROM place
    </select>

    <!-- 단건 장소 조회 -->
    <select id="selectPlaceById" parameterType="long" resultType="com.api.radotrip.dto.PlaceDto">
        SELECT 
            place_id, 
            title, 
            address, 
            content_type_id, 
            map_x, 
            map_y
        FROM place
        WHERE place_id = #{placeId}
    </select>

    <!-- 장소 추가 -->
    <insert id="insertPlace" parameterType="com.api.radotrip.dto.PlaceDto" useGeneratedKeys="true" keyProperty="placeId">
        INSERT INTO place (
            title, 
            address, 
            content_type_id, 
            map_x, 
            map_y
        ) VALUES (
            #{title}, 
            #{address}, 
            #{contentTypeId}, 
            #{mapX}, 
            #{mapY}
        )
    </insert>

    <!-- 장소 삭제 -->
    <delete id="deletePlace" parameterType="long">
        DELETE FROM place 
        WHERE place_id = #{placeId}
    </delete>

</mapper>
