<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.api.radotrip.mapper.region.TourismMapper">
    <insert id="addTourismInfo" parameterType="com.api.radotrip.dto.region.TourismDto">
        /* addTourismInfo */
        INSERT INTO TOURISM_INFO (
            REGN_ID
            , CONTENT_ID
            , TOUR_NM
            , TOUR_TYPE
            , ADDR1
            , ADDR2
            , MAPX
            , MAPY
            , TEL
            , THUMBNAIL
        )
        VALUES (
            #{regnId}
            , #{contentId}
            , #{tourNm}
            , #{tourType}
            , #{addr1}
            , #{addr2}
            , #{mapx}
            , #{mapy}
            , #{tel}
            , #{thumbnail}
        )
    </insert>

</mapper>
